<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="">
<head>
    <title></title>
</head>
<body>
    <div class="container">

    </div>

    <div ng-init="friends=[
          {name:'John', age:25, gender:'boy'},
          {name:'Jessie', age:30, gender:'girl'},
          {name:'Johanna', age:28, gender:'girl'},
          {name:'Joy', age:15, gender:'girl'},
          {name:'Mary', age:28, gender:'girl'},
          {name:'Peter', age:95, gender:'boy'},
          {name:'Sebastian', age:50, gender:'boy'},
          {name:'Erika', age:27, gender:'girl'},
          {name:'Patrick', age:40, gender:'boy'},
          {name:'Samantha', age:60, gender:'girl'}
         ]">

        I have {{friends.length}} friends. They are:

        <input type="text" ng-model="query" placeholder="filter friends..." />

        <ul>
            <li ng-repeat="friend in friends | filter:query">
                {{friend.name | uppercase}} - {{friend.age}} --{{friend.gender | lowercase}}
            </li>
        </ul>
    </div>
    <script src="js/angular.min.js"></script>
</body>

</html>
